{% extends 'base.html.twig' %}

{% block body %}
    <div class="sortie_form">
        {{ form_start(sortieData) }}

        <div class="sortie-colonne-1">
            <label for="nom">Nom</label>
            {{ form_widget(sortieData.nom) }}

            <label for="dateHeureDebut">Date heure début</label>
            {{ form_widget(sortieData.dateHeureDebut) }}

            <label for="dateLimiteInscription">Date limite inscription</label>
            {{ form_widget(sortieData.dateLimiteInscription) }}

            <label for="nbInscriptionMax">Nombre d'inscription max</label>
            {{ form_widget(sortieData.nbInscriptionsMax) }}

            <label for="duree">Durée en minutes</label>
            {{ form_widget(sortieData.duree) }}

            <label for="infoSortie">Infos sortie</label>
            {{ form_widget(sortieData.infosSortie) }}
        </div>

        <div class="sortie-colonne-2">
            <p>Campus : {{ app.user.campus }} </p>

            <label for="lieu">Lieu</label>
            {{ form_widget(sortieData.lieu) }}


            <div>

                <input method="POST" name="save" type="submit" class="btn" value="save">
                <input method="POST" name="publish" type="submit" class="btn" value="publish">
                <button type="reset" class="btn">Annuler</button>
            </div>
            {{ form_end(sortieData) }}


        </div>
    </div>
{% endblock %}
