{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <h1>Accueil</h1>
    <p>
        {% if (app.user) %}

    <div>Hello {{ app.user.pseudo }} !</div>
    {% endif %}
    </p>
    {{ form_start(accueilForm) }}
    {{ form_widget(accueilForm) }}

    <button type="submit" class="btn">Rechercher</button>
    {{ form_end(accueilForm) }}
    <div>
        <ul>
            {% for sortie in sorties %}
            <li>
                {{ sortie.id }}
            </li>{% endfor %}
        </ul>
    </div>
{% endblock %}
