{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Accueil{% endblock %}

{% block body %}
    <div>
        <h1>Accueil</h1>
        <div id="accueil-date-user">
            <p>Date du jour : {{ "now"|date('d/m/Y') }}</p>
            <p>Participant : {{ app.user.nom }} {{ app.user.prenom }}</p>
        </div>
    </div>
    <div class="container">
        <div class="form_accueil">
            {% include 'accueil/form.html.twig' %}
        </div>

        <div class="listing">
            {% include 'accueil/listing.html.twig' %}<br>
            <a href="{{ path('app_sortie') }}"><input class="btn" type="button" title="creer-sortie"
                                                      value="Créer une sortie"></a>
        </div>
    </div>
{% endblock %}
