{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <h1>Accueil</h1>
    <p>
        {% if (app.user) %}

    <div>Hello {{ app.user.pseudo }} !</div>
    {% endif %}
    </p>
    {{ form_start(search) }}
    {{ form_widget(search) }}

    <button type="submit" class="btn">Rechercher</button>
    {{ form_end(search) }}
    <div>
        <ul>
            {% if data %}
                {% for d in data %}
            <li>
                {{ d.nom }}
            </li>
            {% endfor %}
            {% endif %}
        </ul>
    </div>
{% endblock %}
