{% block body %}
    <div>
    <table>
        <thead>
        <tr>
            <th>Nom de la sortie</th>
            <th>Date de la sortie</th>
            <th>Cloture de la sortie</th>
            <th>Inscrits/places</th>
            <th>Etat</th>
            <th>Inscrit</th>
            <th>Organisateur</th>
            <th>Actions</th>

        </tr>
        </thead>
        {% if sorties %}
        {% for s in sorties %}
        <tbody>
        <tr>
            <td>{{ s.nom }}</td>
            <td>{{ s.dateHeureDebut|date("d/m/Y") }}</td>
            <td>{{ s.dateLimiteInscription|date("d/m/Y") }}</td>
            <td> {{ s.participants.count}} / {{ s.nbInscriptionsMax }}</td>
            <td>{{ s.etat }}</td>
            <td>{{ app.user in s.participants ? 'x': '' }}</td>
            <td>{{ s.organisateur }}</td>
            <td>TODO</td>
        </tr>
        </tbody>
        {% endfor %}
        {% endif %}
    </table>
    </div>
{% endblock %}