{% block body %}
    <div>
        <div id="listing-message">
            <div>
                {% for message in app.flashes('success') %}
                    <div class="alert alert-success">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
            <div>
                {% for message in app.flashes('error') %}
                    <div class="alert alert-danger">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        </div>
        <table>
            <thead>
            <tr>
                <th>Nom de la sortie</th>
                <th>Date de la sortie</th>
                <th>Cloture de la sortie</th>
                <th>Inscrits/places</th>
                <th>Etat</th>
                <th>Inscrit</th>
                <th>Organisateur</th>
                <th>Actions</th>

            </tr>
            </thead>
            {% if sorties %}
                {% for s in sorties %}
                    <tbody>
                    <tr>
                        <td>{{ s.nom }}</td>
                        <td>{{ s.dateHeureDebut|date("d/m/Y") }}</td>
                        <td>{{ s.dateLimiteInscription|date("d/m/Y") }}</td>
                        <td> {{ s.participants.count }} / {{ s.nbInscriptionsMax }}</td>
                        <td>{{ s.etat }}</td>
                        <td>{{ app.user in s.participants ? 'x': '' }}</td>
                        <td>{{ s.organisateur }}</td>
                        <td>
                            {% if s.etat == 'ouverte' %}
                                <a href="#" title="afficher">Afficher</a><br>
                                {% if app.user in s.participants %}
                                    <a href="#" title="se désister">Se désister</a><br>
                                {% else %}
                                    <a href="{{ path('app_subscription', {'id': s.id}) }}"
                                       title="s'inscrire">S'inscrire</a>
                                {% endif %}
                                {% if app.user == s.organisateur %}
                                    <a href="#" title="annuler">Annuler</a>
                                {% endif %}
                            {% endif %}

                            {% if s.etat == 'crée' and app.user == s.organisateur %}
                                <a href="#" title="publier">Publier</a>
                            {% endif %}


                        </td>
                    </tr>
                    </tbody>
                {% endfor %}
            {% endif %}
        </table>
    </div>
{% endblock %}