<nav class="header-nav">
    <img class="header-logo" src="{{ asset('img/logo.png') }}" alt="logo">
    {% if (app.user) %}
        {% if is_granted("ROLE_ADMIN") %}
            <a href="#" title="ville">Ville</a>
            <a href="#" title="campus">Campus</a>
        {% endif %}
        <a href="{{ path('app_accueil') }}" title="accueil">Accueil</a>
        <a href="{{ path('app_profil') }}" title="profil">Profil</a>
        <a href="{{ path('app_logout') }}" title="logout">Logout</a>
        <div id="nav-pseudo">Hello {{ app.user.pseudo }} !</div>
    {% endif %}
</nav>